alabaster==0.7.8
antlr==2.7.5rc1
apsw==3.16.2.post1
arrow==0.10.0
asn1crypto==0.24.0
attrs==17.4.0
autoenv==1.0.0
Automat==0.6.0
awscli==1.11.98
Babel==2.4.0
backports.functools-lru-cache==1.4
beautifulsoup4==4.6.0
binaryornot==0.4.3
blinker==1.4
boto==2.44.0
botocore==1.5.61
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
CherryPy==8.9.1
click==6.7
colorama==0.3.7
configparser==3.5.0
constantly==15.1.0
cookiecutter==1.6.0
cryptography==2.2.1
csc-pysparse==1.1.1.4
csc-utils==0.6.7
cssselect==1.0.3
cssutils==1.0.2
cvxopt==1.1.9
cycler==0.10.0
decorator==4.1.2
defer==1.0.6
dirspec==13.10
Divisi2==2.2.5
dnspython==1.15.0
docutils==0.13.1
duplicity==0.7.17
Editra==0.6.99
enum34==1.1.6
et-xmlfile==1.0.1
fasteners==0.12.0
feedparser==5.2.1
Flask==0.10.1
Flask-Cors==3.0.3
funcsigs==1.0.2
future==0.16.0
futures==3.1.1
gdata==2.0.18
gyp==0.1
html5-parser==0.4.4
html5lib==0.999999999
httplib2==0.11.3
hyperlink==17.3.1
idna==2.6
imagesize==0.7.1
incremental==16.10.1
ipaddress==1.0.19
itsdangerous==0.24
jdcal==1.0
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
joblib==0.11
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
lxml==4.2.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.1
mechanize==0.2.5
mock==2.0.0
monotonic==1.0
msgpack==0.5.6
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
mysqlclient==1.3.10
netifaces==0.10.4
networkx==1.11
nose==1.3.7
numexpr==2.6.4
numpy==1.11.2
oauthlib==2.0.6
olefile==0.45.1
openpyxl==2.4.9
ordereddict==1.1
PAM==0.4.2
pandas==0.22.0
paramiko==2.0.0
pathlib==1.0.1
patsy==0.4.1+dev
pbr==3.1.1
pexpect==4.2.1
Pillow==5.1.0
pipenv==11.8.3
piston-mini-client==0.7.5
pluggy==0.6.0
pp==1.6.4
protobuf==3.0.0b2
py==1.5.2
pyasn1==0.2.3
pyasn1-modules==0.2.1
PyAudio==0.2.11
pycairo==1.16.2
pycparser==2.18
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pyenchant==2.0.0
pygame===1.9.1release
pygame-sdl2===2.1.0-for-renpy-6.99.14.1
Pygments==2.2.0
pygobject==3.26.1
PyJWT==1.5.3
pyodbc==4.0.17
PyOpenGL==3.1.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyserial==3.4
pysmbc==1.0.15.6
pysqlite==2.7.0
pytest==3.3.2
python-apt==1.6.5+ubuntu0.3
python-cloudfiles==1.7.10
python-dateutil==2.6.0
python-debian==0.1.32
python-dotenv==0.8.2
python-jose==1.3.2
python-sane==2.8.3
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
regex==2017.12.12
Ren-Py==6.99.14.1.3218
reportlab==3.4.0
repoze.lru==0.7
requests==2.18.4
roman==2.0.0
Routes==2.4.1
rsa==3.4.2
ruamel.yaml==0.15.34
s3transfer==0.1.10
scikit-learn==0.19.1
scipy==0.19.1
SecretStorage==2.3.1
service-identity==16.0.0
simplejson==3.13.2
six==1.11.0
SpeechRecognition==3.7.1
Sphinx==1.6.7
statsmodels==0.8.0
stop-words==2015.2.23.1
subprocess32==3.2.7
tables==3.4.2
tabulate==0.7.7
tensorflow==0.8.0
Twisted==17.9.0
typing==3.6.2
urllib3==1.22
uTidylib==0.3
virtualenv==15.1.0
virtualenv-clone==0.3.0
webencodings==0.5
WebOb==1.7.3
Werkzeug==0.11.4
whichcraft==0.4.1
wxPython==4.0.0b2
wxPython-common==3.0.2.0
xlrd==1.1.0
xlwt==0.7.5
zope.interface==4.3.2
